.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-item
      .top-item__name 
        = current_user.name
      %ul.top-item__icons
        %li.top-item__icons__position
          = link_to new_group_path(current_user), class: "top-item__icons--position-edit" do
            = icon('far','edit' , class: "icon")
          = link_to edit_user_path(current_user), class: "top-item__icons--position-cog" do
            = icon('fas','cog' , class: "icon")
 
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__latest-message
            = group.show_last_message 