.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-item
      .top-item__name masa 
      %ul.top-item__icons
        %li.top-item__icons__position
          = link_to "#", class: "top-item__icons--position-edit" do
            = icon('far','edit' , class: "icon")
          = link_to "#", class: "top-item__icons--position-cog" do
            = icon('fas','cog' , class: "icon")
  .side-bar__group-list
    = link_to "#", class:"group" do
      .group__group-name
        tech-camp
      .group__latest-message
        まだメッセージがありません
    = link_to "#", class:"group" do
      .group__group-name
        tech-camp
      .group__latest-message
        まだメッセージがありません